/*
.img {
  width: 100%;
  height: 672px;
  background-image: url('https://static.mlb-korea.com/images/display/category/MTP/A01/A01/contents/10111_1045_47_KOR_20210913193537.png/dims/resize/1920x768');
}
*/

.container {
  .slide_wrap {
    position: relative;
    width: 400px;
    margin: auto;
    padding-bottom: 30px;

    .slide_box {
      width: 100%;
      margin: auto;
      overflow-x: hidden;

      .slide_list {
        width: 2000px;
        .slide_content {
          display: table;
          float: left;
          width: 400px;
          height: 400px;

          &.slide01 {
            background-color: red;
          }
          &.slide02 {
            background-color: green;
          }
          &.slide03 {
            background-color: blue;
          }
          &.slide04 {
            background-color: cyan;
          }
          &.slide05 {
            background-color: pink;
          }
        }
      }
    }
  }
}
