.dropdownMenu {
  text-align: center;
  border-bottom: 2px solid;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-top: 50px;
  .categoryList {
  }
  .borderlessButton {
    border: 0px;
    background-color: white;
  }
}
