.dropdownMenu {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-top: 50px;
  margin-top: 60px;
  text-align: center;
  border-bottom: 2px solid;

  .categoryList {
    margin-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
  }

  .borderlessButton {
    border: 0px;
    background-color: white;
  }

  .menuLeft {
    position: absolute;
    margin-top: 20px;
    margin-right: 150px;
    background-color: white;
  }

  .menuRight {
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;
    background-color: white;
  }

  .dropdownList {
    text-align: left;
    padding-top: 5px;
    // font-size: 20px;
  }

  .linkBlur {
    opacity: 40%;
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .linkBlur:hover {
    opacity: 100%;
  }

  .arrow {
    margin-left: 30px;
  }
  button {
    background-color: white;
    border-radius: 3px;
  }
  .fas {
    font-size: 20px;
  }
}
