.dropdownMenu {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-top: 50px;
  margin-top: 60px;
  text-align: center;
  border-bottom: 2px solid;

  .categoryList {
    margin-right: 10px;
    padding-left: 10px;
  }

  .borderlessButton {
    border: 0px;
    background-color: white;
  }

  .menuLeft {
    position: absolute;
    margin-top: 30px;
    margin-right: 80px;
    background-color: white;
  }

  .menuRight {
    position: absolute;
    margin-left: 250px;
    margin-top: 30px;
    background-color: white;
  }

  .dropdownList {
    text-align: left;
    margin-top: 15px;
  }

  .linkBlur {
    opacity: 40%;
    font-weight: bold;
    color: black;
  }

  .linkBlur:hover {
    opacity: 100%;
  }
}
