.memberForm {
  p {
    margin-top: 17px;
    label {
      font-size: 13px;
      color: #666;
      // vertical-align: +1px;
      input {
        vertical-align: -1.6px;
        margin-right: 5px;
      }
    }
  }
}
