@mixin signUpA {
  padding: 0 20px;
  font-size: 13px;
}

.SignUp {
  margin-top: 27px;
  text-align: center;

  .signUpA {
    @include signUpA;
  }

  .middleA {
    @include signUpA;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
}
