@mixin font {
  font-size: 12px;
  line-height: 13px;
}

.location {
  width: 1200px;
  margin: auto;
  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
  }
  p {
    padding-bottom: 12px;
    border-bottom: 4px solid #000;
    margin-top: 23px;

    span {
      padding-right: 14px;
      a {
        @include font;
        color: #999;
      }
    }
    strong {
      @include font;
      display: inline-block;
      padding-left: 10px;
      font-weight: 500;
    }
  }
}
