.JoinWrap {
  width: 750px;
  margin: 0 auto;
  .topInfo {
    font-size: 24px;
    padding-top: 30px;
  }
  .middleInfo {
    padding-top: 20px;
    border-top: 1px solid #dddddd;
    margin-top: 60px;
    .buttomInfo {
      padding-left: 10px;
      margin-top: 10px;
      font-size: 13px;
      line-height: 18px;
      color: #666;
    }
  }
}
