.ProductsList {
  display: flex;
  justify-content: center;

  .container {
    width: 1480px;
  }

  .filterButton {
    border: 0;
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 60%;
    background-color: white;
  }
  .filterButton:hover {
    opacity: 100%;
  }
  .buttonDivider {
    font-size: 20px;
    padding: 0 20px;
  }

  .buttonBorder {
    border-right: 1px solid;
  }

  .prods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    margin: 0 auto;
  }

  img {
    width: 400px;
    height: 400px;
  }

  button:hover {
    border-bottom: 1px solid;
  }
  .pageNation {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
