.ProductDetail {
  width: 1260px;
  margin: 0 auto;

  a {
    color: #000;
  }

  button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  input[type='text'] {
    outline: none;
  }

  .blind {
    font-size: 0;
  }

  .productVeiw {
    display: flex;
    height: 940px;
    padding-top: 50px;
  }
}
