@mixin align {
  display: block;
  width: 100%;
  text-align: center;
}

@mixin external {
  flex: 1;
  height: 45px;
  border: 1px solid #ddd;
  background: #fff;
}

@mixin native {
  height: 45px;
  padding: 0 20px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  line-height: 45px;
}

.loginButton {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 0;
  .nativeLoginTag {
    @include align;
    @include native;
  }
  .naverLoginTag {
    @include align;
    @include external;
    margin: 5px 2.5px 0 0;
  }
  .kakaoLoginTag {
    @include align;
    @include external;
    margin: 5px 0 0 2.5px;
  }
  span {
    padding-left: 28px;
    color: #666;
    font-size: 14px;
    line-height: 43px;
  }
  .basicSpan {
    padding: 0;
    color: #fff;
  }
  .naverLogo {
    background-image: url(./logoImg/naverlogo.png);
    background-repeat: no-repeat;
  }
  .kakaoLogo {
    background-image: url(./logoImg/kakaoLogo.png);
    background-repeat: no-repeat;
  }
}
