.JoinBasicTable {
  width: 100%;
  colgroup {
    .JoinBasicCol {
      width: 200px;
    }
  }
}

.OrderTable {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #666;
  border-width: 1px 0 0;
  colgroup {
    .JoinBasicCol {
      width: 200px;
    }
  }
}
