.basicInfo {
  th {
    padding: 18px 20px 10px 20px;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    vertical-align: top;
    .thLabel {
    }
  }
  .tableContentTd {
    padding: 10px 0;
    vertical-align: middle;
  }
}

.orderTr {
  th {
    padding: 18px 20px 10px 20px;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    vertical-align: top;
  }
}
