@mixin orderHeader {
  display: inline-block;
  position: relative;
  height: 70px;
  padding-left: 108px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 400px;
  color: #fff;
}

.OrderForm {
  width: 1200px;
  margin: auto;
  .orderUl {
    margin: 30px 0 20px 0;

    background: #000;
    text-align: center;

    .first {
      @include orderHeader;
    }

    .last {
      @include orderHeader;
      opacity: 0.3;
    }
    ::after {
      content: '';
      display: block;
      width: 108px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      //background: url('../Img/화살표.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}
